[access]
	inheritFrom = All-Projects
[project]
	description = Swagger sdk helps to generate swagger.json and java client sdk during the build time, it also helps to provide the swagger.json at the given URI in the run time.\n\nRead-only as per IT-26907
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-msb-swagger-sdk-committers
	read = deny group GitHub Replication
[plugin "its-jira"]
	enabled = true
