[access]
	inheritFrom = All-Projects
[project]
	description = Swagger sdk helps to generate swagger.json and java client sdk during the build time, it also helps to provide the swagger.json at the given URI in the run time.
[access "refs/*"]
	owner = group ldap/onap-gerrit-msb-swagger-sdk-committers
	read = group GitHub Replication
